<div class="w-100 py-5 bg-danger animate__animated animate__fadeIn animate__delay-2s"></div>
<div class="w-100 py-5 bg-warning animate__animated animate__fadeIn animate__delay-2s"></div>


<h3 class="text-center text-primary my-5 animate__animated animate__fadeIn animate__delay-2s">
  Fancy display heading

  <small class="text-secondary">With faded secondary text</small>
</h3>

<h1 class="display-4 my-5 text-center fw-bold animate__animated animate__fadeIn">Display font style quote quote</h1>

<div class="container my-5 text-center animate__animated animate__fadeIn animate__delay-2s">
  
  <button type="button" class="btn my-2 btn-primary rounded-0">Primary rounded-0</button>

  <button type="button" class="btn my-2 btn-secondary rounded-2">Secondary rounded-2</button>

  <button type="button" class="btn my-2 btn-success rounded-3">Success rounded-3</button>

  <button type="button" class="btn my-2 btn-danger rounded-pill">Danger rounded-pill</button>


  <button type="button" class="btn my-2 btn-warning">Warning</button>
  <button type="button" class="btn my-2 btn-info">Info</button>
  <button type="button" class="btn my-2 btn-light">Light</button>
  <button type="button" class="btn my-2 btn-dark">Dark</button>

<div class="my-5">

  <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-success" style="width: 25%"></div>
  </div>
  <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-info" style="width: 50%"></div>
  </div>
  <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-warning" style="width: 75%"></div>
  </div>
  <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-danger" style="width: 100%"></div>
  </div>
  </div>
</div>



{{outlet}}