@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap');

$font-family-sans-serif: "Poetsen One", sans-serif !default;
$display-font-family: "Lato", sans-serif !default;

$primary:       #0A05A3 !default;
$secondary:     #5F0F40 !default;
$success:       #0F5C3D !default;
$info:          #CB4721 !default;
$warning:       #FB8B24 !default;
$danger:        #9A031E !default;
$light:         #DEDEDE !default;
$dark:          #232323 !default;
/* /STYLE GUIDE */

$enable-rounded: true !default;
$enable-negative-margins:     true !default;
$enable-cssgrid:              true !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 12,
) !default;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/animate.css/animate";

.flame-bg {
	background: linear-gradient(0deg, rgba(153,51,153,1) 0%, rgba(255,51,153,1) 100%);
  	background-color: rgba(0, 0, 0, 0);
  	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-image: linear-gradient(0deg, rgb(153, 51, 153) 0%, rgb(255, 51, 153) 100%);
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	height: 100vh;
	width: 100vw;
}
@import "ember-power-select";
